// <$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$>
// - FONT-FACES                                                                                                         <$> 
// <$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$>

// <$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$>
// - COLORS                                                                                                             <$> 
// <$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$>
$primaryColor: rgb(0, 148, 96);
$secondaryColor: rgb(54, 28, 11);
$tertiaryColor: rgb(74, 38, 17);
$quaternaryColor: rgba(223, 65, 2, 0.979);

$backgroundColor: $primaryColor;

$borderColor: $secondaryColor;

$navbarColor: $secondaryColor;

$headerColor: $primaryColor;

$footerColor: $primaryColor;

// <$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$>
// - HMTL TAGS                                                                                                          <$> 
// <$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$>
body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/escheresque.png);
    background-color: white;
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
    margin:0px;
    padding:0px;
    width:100%;
}
caption {
    caption-side: top;
    font-weight: bolder;
}
form {
    background-color: rgba(106, 106, 106, 0.762);
    padding: 1rem;
    label {
        font-size: 16pt;
    }
    input {
        .form-control{
        margin-bottom: 0.5rem;
        }
    }
}

// <$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$>
// - CLASSES                                                                                                            <$> 
// <$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$><$>

// [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
// * Navigaton
// [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
.navbar {
    margin-bottom: 0.5rem;
    background-color: $secondaryColor !important;
}
.dropdown-menu {
    width: 50px;
    margin-left: 0.5rem;
}
.navlogo {
    img {
        display: flex;
        justify-content: left;
        width: 30px;
        height: 30px;
        margin-right: 0.5rem;
    }
}
.nav-brand {
    p {
    display: flex !important;
    justify-content: left;
    }
}
.nav-link {
    font-size: 12pt !important;
    display: flex;
    justify-content: right !important;
}
.nav-item{
    i {
        display: flex;
        margin-left: 1rem;
        align-items: right !important;;
    }
}

// [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
// * Jumbotron
// [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
.jumbotron {
    margin-bottom: 0.5rem;
    background-color: $primaryColor;
    background-image: url(https://hdwallsource.com/img/2014/4/minimal-retro-wallpaper-41507-42475-hd-wallpapers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    text-align: left;
    p {
        font-size: 18pt 
    }
    h1 {
        text-align: left;
        font-size: 25pt;
    }
}
// [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
// * Header 
// [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
.header {
    h3{
        font-size: 16pt; 
        margin: 0.5rem;
    }
    background-color: $headerColor;
    margin-bottom: 0.5rem;
}
// [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
// * Boxes 
// [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
.textbox {
    background-color: red;
}

.databox {
    background-color: yellow;
}


// [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
// * Buttons
// [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
.buttonbox{
    display: flex;
    justify-content: center !important;
}

.reset {
    background-color:rgb(116, 65, 36);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.submit {
    background-color: rgb(116, 65, 36);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.newContact {
    background-color: #008f40;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.newInvoice {
    background-color: #008dce;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.newCompagny {
    background-color: #a803ae;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 10;
}
// [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
// * Footer 
// [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
.footer {
    color:  white;
    background-color: $footerColor;
    .social-media {
        height: 40px;
    }
    .copyright {
        height: 40px;
    }
    small {
        font-size: 12pt;
    }
    i {
        color: white;
        margin: 0.5rem;
        font-size: 25px;
        width: 50px !important;
    } 
    i:hover {
        color: $tertiaryColor;
    }
}
// [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
// * Tables
// [][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]
.table-contacts {
    table {
        border: 3px solid $borderColor;
    }
    th {
        background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/irongrip.png);
        color: whitesmoke;
        background-color: white;
        background-repeat: repeat;
        background-size: auto;
        background-position: center;
        padding: 1rem;
        border: 2px solid $borderColor;
        text-align: center;
        font-size: 16pt;
    }
    td {
        background-color: whitesmoke;
        padding: 0.5rem;
        border: 1px solid $borderColor;
        text-align: left;
        font-size: 12pt;
    }
}

.table-break {
    td {
        border: solid 2px black !important;
    }
    th {
        border: solid 2px black !important;
    }
}